/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2014, 12:57:07 PM
    Author     : karthgo
*/

body{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #A3EFE5 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #A3EFE5 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #A3EFE5 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #A3EFE5));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #A3EFE5 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #A3EFE5 100%);
}
.status-metro {
    display: inline-block;
    padding: 2px 5px;
    color:#fff;
}

.status-metro.status-good {
    background: #43c83c;
}

.status-metro.status-bad {
    background: #fa3031;
}

.status-metro.status-fair {
    background: #999999;
}
.boldme {
    font-weight:bold;
}
.italicme {
    font-style:italic;
}
.iambigger {
    font-size:150%;
}
.colormered {
    color:#FF0000;
}
.ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
    position: relative;
    font-size: 60%;
}

/* Elegant Aero */
.elegant-aero {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background: #DDF0F8;
    padding: 30px 30px 20px 30px;
    box-shadow: #868686 0 0px 10px -1px;
    -webkit-box-shadow: #868686 0 0px 10px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero  h1{
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 10px 20px 30px;
    display: block;
    background: #D0E6F0;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    border-bottom: 1px solid #B9E1F1;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}

.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="password"],input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 65%;
    padding: 5px 4px 0px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #CEE2E7;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    font: 200 24px/24px Arial, Helvetica, sans-serif;
}

.elegant-aero textarea{
    height:100px;
}
.elegant-aero select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 67%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
}
.elegant-aero .button:hover{
    background: #3EB1DD;
}

.aero_para {
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #005CB9;
}

.aero_para_bold {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #005CB9;
    font-size: 200%;
}